*{
    margin: 0;
    padding: 0;
    color: white;
}

@font-face {
    font-family: Yella Standard;
    src: url(YELLASTANDARD.ttf);
}
            
@keyframes fadeIn {
    0% { opacity: 0; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInD {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

.sub {
    font-family: Yella Standard;   
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 1px #000000;

}

.maintext {
    font-family: Yella Standard;   
    text-align: center;
    font-size: 32px;
    text-shadow: 2px 2px #000000;

}      

html { 
    background: url(bgcomp.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.fadeimg { 
    animation: fadeIn 4s; 
}
.delayfade { 
    animation: fadeInD 5s; 
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: none;
}

a:active { 
    text-decoration: none; 
}

.grow { 
    transition: all .1s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}